header, main, nav, footer, figure, figcaption, aside, section, 
article { display: block; }
#mobile { display: none; }
#desktop { display: inline; }
body {background-color: #4F6D93;
background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
background-repeat: no-repeat; 
color: #666666;font-family: Arial, Helvetica, san-serif;
 }
header { color: #000000; font-size: 25pt; }

#wrapper { width: 80%;
           background-color: #90C7E3;
		   min-width: 960px;
		   max-width: 2048px;
		   box-shadow: 3px 3px 3px #333333;
		   margin-left: auto;
		   margin-right: auto;
}
nav { display: none; }
nav a { text-decoration: underline; }
nav ul { list-style-type: square;
         padding-left: 0;
		 margin: 0;
		 font-size: 1.3em;
}
nav a:link {color: #000033; }
nav a:visited { color: #344873; }
nav a:hover { color: #FFFFFF; }
main { font-family: "Times New Roman", serif, font-size: 14pt; }
main ul { list-style-image: square);}
h1 { font-family: Georgia, "Times New Roman", serif;
     margin-top: 0;	
}
h2 { color: #3399CC; 
font-family: Georgia, "Times New Roman", serif;
text-shadow: 1px 1px 1px #CCCCCC;
}
footer { font-size: 75%; font-style: italic;
         text-align: auto; 
		 font-family: Georgia, "Times New Roman", serif;
		 padding: 20px;
		 margin-left: 190px;
		 background-color: #FFFFFF;
}
#clevelandview { height: 300px;
             background-image: url(clevelandskyline.jpg);
			 background-repeat: no-repeat;
			 background-size: 100% 100%;
			 margin-left: 190px;
}
#cavsview { height: 300px;
             background-image: url(cleveland_cavaliers.jpe);
			 background-repeat: no-repeat;
			 background-size: 100% 100%;
			 margin-left: 190px;
}
#brownsview { height: 300px;
             background-image: url(clevelandbrowns.png);
			 background-repeat: no-repeat;
			 background-size: 100% 100%;
			 margin-left: 190px;
}
#indiansview { height: 300px;
             background-image: url(Indiansscript.gif);
			 background-repeat: no-repeat;
			 background-size: 100% 100%;
			 margin-left: 190px;
}
dt { color: #000033; }

#contact {font-size: .90em; }
@media only screen and (max-width: 1024px) {
	body { margin: 0;
	background-color: #FFFFFF; }
	#wrapper { min-width: 0;
	           width: auto;
			   box-shadow: none
	}
	main { margin-left: 0; }
	nav { float: none;
	      width: auto;
		  text-align: center;
		  padding: 8px;
	}
	nav li { display: inline;
             padding: .25em .75em;
	}
	#clevelandview, #cavsview, #brownsview, #indiansview { margin-left:0;
	                                   height: 200px;
	}
	footer { margin-left: 0; }
}
@media only screen and (max-width: 320px)
{
	header { padding-top: 16px; }
	main { padding: 0.1em 1em;
	       font-size: 90%;
	}
	h1 { font-size: 24px; }
	nav { padding: 0; }
	nav li { display: block;
	         margin: 0;
	         border-bottom: 2px solid #330000;
	}
	nav a { display: block; }
	#clevelandview, #cavsview, #brownsview, #indiansview { display: none;
	                                   background-image: none;
									   height: 0;
	}
	#mobile { display: inline; }
	#desktop { display: none; }
}

